@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body
{
    background: #c0d7d7;
    color: #000000;
    font-size: 17px;
    font-weight: lighter;
    margin: 0;
    padding: 0;

    text-align: center;
    font-family: "Inter", sans-serif;
}

 {
    color: ghostwhite;
    background-color: blue;
    font-weight: 200;
    text-decoration: none;
    padding: 16px;
    border: 4px solid rgb(197, 160, 195);
   
    display: block;
    width: 25%;
    margin: 0 auto;
    text-align: center;
}


h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(148, 30, 232);
    font-weight: 200;
    padding: 16px;

}




.division {
    background-color: rgb(45, 68, 202);
    padding: 12px;
    margin: auto 24px;
    color: aliceblue;
    width: 80%;
    text-align: center;
}


img {
    width: 30%;
    display: block;
    margin: 20px auto;
}

h2 {
    background-color: rgb(223, 169, 150);
    padding: 12px;
    margin: auto 10px;
    border-radius: 10px;
    font-weight: 200;
    
}
#Japon {
    background-color: rgb(203, 34, 34);
    color: rgb(255, 255, 255);
    padding: 12px;
    margin: auto 10px;
    border-radius: 10px;
    font-weight: 200;
      border: 4px solid rgb(255, 255, 255);
}

#Jakarta{
   background-color: rgb(15, 165, 7);
    color: rgb(255, 255, 255);
    padding: 12px;
    margin: auto 10px;
    border-radius: 10px;
    font-weight: 200; 
      border: 4px solid rgb(255, 255, 255);
}

#cancer{
 background-color: rgb(255, 15, 159);
    color: rgb(255, 255, 255);
    padding: 12px;
    margin: auto 10px;
    border-radius: 10px;
    font-weight: 200;   
      border: 4px solid rgb(255, 255, 255); 
}

#Toyota{
    background-color: rgb(254, 222, 13);
    color: rgb(1, 0, 0);
    padding: 12px;
    margin: auto 10px;
    border-radius: 10px;
    font-weight: 200;  
      border: 4px solid rgb(0, 0, 0);
}

#baleine
{background-color: rgb(21, 13, 254);
    color: rgb(255, 255, 255);
    padding: 12px;
    margin: auto 10px;
    border-radius: 10px;
    font-weight: 200;  
      border: 4px solid rgb(255, 255, 255);

.box {
  width: 200px;
  height: 100px;
  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}


}

